    <header class="header">
      <!-- Main Navbar-->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="search-area">
          <div class="search-area-inner d-flex align-items-center justify-content-center">
            <div class="close-btn"><i class="icon-close"></i></div>
            <div class="row d-flex justify-content-center">
              <div class="col-md-8">
                <form action="{% url 'search' %}">
                  <div class="form-group">
                    <input type="search" name="q" id="search" placeholder="무엇을 찾고 있나요?">
                    <button type="submit" class="submit"><i class="icon-search-1"></i></button>
                  </div>
                </form>                  
              </div>
            </div>
          </div>
        </div>
        
          <div class="container">
            <a href="/" class="navbar-brand">Blog</a>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link ">홈</a>
              </li>
              <li class="nav-item"><a href="/blog" class="nav-link active ">게시물</a>
              </li>
              <!--<li class="nav-item"><a href="/blog" class="nav-link active ">연락하기</a>
              </li>-->
              {% if request.user.is_staff %}
              <li class="nav-item"><a href="{% url 'post-create'%}" class="nav-link ">포스팅하기</a>
              </li>
              {% endif %}
            </ul>
            <div class="navbar-text"><a href="#" class="search-btn"><i class="icon-search-1"></i></a></div>
            {% comment %} <ul class="langs navbar-text"><a href="#" class="active">EN</a><span>           </span><a href="#">ES</a></ul>
            {% endcomment %}
            </div>
           </div>
        </div>
        
      </nav>
    </header>